<h2><b>Giftcards Route</b></h2>

<h4><b>/giftcards</b></h4>

<div class="indentBlock">
    <b>Post</b>{<br />
        <div class="indentBlock">
        "sessionToken" : "String",<br />
        "name" : "String", (recipient name)<br />
        "phone" : "String", (recipient phone)<br />
        "amount" : "String",<br />
        "iconId" : "String",<br />
        "message" : "String",<br />
        "stripeCardToken" : "String",<br />
        </div>
    }
</div>

<div class="indentBlock">
    <b>Get</b>{<br />
        <div class="indentBlock">
        "sessionToken" : "String",<br />
        </div>
    }
</div>

<div class="indentBlock">
<h4><b>/:id</b></h4>
<div class="indentBlock">
    <b>Get</b>{<br />
        <div class="indentBlock">
        "sessionToken" : "String",<br />
        </div>
    }<br />

    <b>Put</b>{<br />
        <div class="indentBlock">
        "sessionToken" : "String",<br />
        "iconId" : "String",<br />
        "message" : "String",<br />
        </div>
    }
</div>
</div>
