<h2><b>Locations Route</b></h2>

<h4><b>/locations</b></h4>

<div class="indentBlock">
    <b>Post</b>{<br />
        <div class="indentBlock">
        "name" : "String",<br />
        "adress1" : "String",<br />
        "adress2" : "String",<br />
        "city" : "String",<br />
        "state" : "String",<br />
        "zipcode" : "String",<br />
        "sessionToken" : "String",<br />
        </div>
    }
</div>

<div class="indentBlock">
    <b>Get</b>{<br />
        <div class="indentBlock">
        "sessionToken" : "String",<br />
        </div>
    }
</div>

<div class="indentBlock">
    <h4><b>/:id</b></h4>
    <div class="indentBlock">
        <b>Get</b>{<br />
            <div class="indentBlock">
            "sessionToken" : "String",<br />
            </div>
        }
    </div>
    <div class="indentBlock">
        <b>Put</b>{<br />
            <div class="indentBlock">
            "name" : "String",<br />
            "adress1" : "String",<br />
            "adress2" : "String",<br />
            "city" : "String",<br />
            "state" : "String",<br />
            "zipcode" : "String",<br />
            "sessionToken" : "String",<br />
            </div>
        }
    </div>
    <div class="indentBlock">
        <b>Delete</b>{<br />
            <div class="indentBlock">
            "sessionToken" : "String",<br />
            </div>
        }
    </div>
    <div class="indentBlock">
        <h4><b>/spend</b></h4>
        <div class="indentBlock">
            <b>Post</b>{<br />
                <div class="indentBlock">
                "sessionToken" : "String",<br />
                </div>
            }
        </div>
    </div>
</div>
