<h1>Schemas</h1>

<h2>Users</h2>
<div class="indentBlock">
    name<br />
    stripeCustomerId<br />
    email<br />
    phone - required<br />
    password<br />
    salt<br />
    updated<br />
    created<br />
</div>

<h2>Giftcards</h2>
<div class="indentBlock">
    fromId -> users._id - required<br />
    toId -> users._id - required<br />
    amount - required<br />
    iconId - required<br />
    message - required<br />
    created<br />
    stripeOrderId<br />
</div>

<h2>Locations</h2>
<div class="indentBlock">
    name - required<br />
    address1 - required<br />
    address2<br />
    city<br />
    state<br />
    zipcode<br />
    ownerId -> owners._id - required<br />
</div>

<h2>Owners</h2>
<div class="indentBlock">
    name - required<br />
    stripeCustomerId - required<br />
    email - required<br />
    password - required<br />
    salt - required<br />
    updated<br />
    created<br />
</div>

<h2>Sessions</h2>
<div class="indentBlock">
    accountId -> (users._id || owners._id)<br />
    type<br />
    token<br />
</div>
